  .Table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.Table th {
    background-color: #27161600;
    text-align: left;
    padding: 10px;
}

.Table td,
.Table th {
    border: 1px solid #ddd;
    padding: 8px;
}


.Table tbody td:first-child {
    font-weight: bold;
}

.RejestrPracownikow {
    text-align: center;
    margin-top: 20px;
}

.RejestrPracownikow h1 {
    font-size: 24px;
}

.RejestrPracownikow Button {
    margin-top: 10px;
}