.Table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

/* Stylizacja nagłówka tabelki */
.Table th {
	background-color: #f2f2f29a;
	text-align: left;
	padding: 10px;
}

/* Stylizacja komórek tabelki */
.Table td,
.Table th {
	border: 1px solid #ddd;
	padding: 8px;
}

/* Podświetlanie wierszy na hover */
.Table tbody tr:hover {
	background-color: #f5f5f5;
}

/* Dodatkowy styl dla pierwszej kolumny */
.Table tbody td:first-child {
	font-weight: bold;
}

/* Stylizacja sekcji RejestrPracownikow */
.RejestrPracownikow {
	text-align: center;
	margin-top: 20px;
}

/* Stylizacja tytułu */
.RejestrPracownikow h1 {
	font-size: 24px;
}

/* Stylizacja przycisku powrotu */
.RejestrPracownikow Button {
	margin-top: 10px;
}
